@font-face {
    font-family: "Arial-Bold";
    src: url("../fonts/arial-bold/ArialBold.eot");
    src: url("../fonts/arial-bold/ArialBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/arial-bold/ArialBold.woff") format("woff"),
    url("../fonts/arial-bold/ArialBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Arial-Regular";
    src: url("../fonts/arial-regular/ArialRegular.eot");
    src: url("../fonts/arial-regular/ArialRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/arial-regular/ArialRegular.woff") format("woff"),
    url("../fonts/arial-regular/ArialRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'search';
    src: url('../fonts/search/font/search.eot?62676213');
    src: url('../fonts/search/font/search.eot?62676213#iefix') format('embedded-opentype'),
    url('../fonts/search/font/search.woff2?62676213') format('woff2'),
    url('../fonts/search/font/search.woff?62676213') format('woff'),
    url('../fonts/search/font/search.ttf?62676213') format('truetype'),
    url('../fonts/search/font/fontello.svg?62676213#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
}